.App {
  width: 100vw;
  min-height: 100vh;
}

.btn{
  padding: 12px 24px;
  background-color: silver;
}

.pointer{
  cursor: pointer;
}

.doneFound{
  background-color: #4cd964;
}
.notFound{
  background-color: #ff2d55;
}
.awaitFound{
  background-color: #f1c40f;
}


